

<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class=" text-center main-heading">About Us </h1>
        <p class=" text-center text-capitalize sub-heading">grow your skills with us</p>
        <div class="row">
          <div class="col-md-6 col-12 hero-text ">
            <figure>
              <img src="/image/pic1.jpg" alt="" height="100%" width="100%s">
            </figure>
  
          </div>
  
        
          <!-- right side  -->
         
          <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-center flex-column">
            <h1>i am the full stack devloper </h1>
         
            <p>welcome to my profiles you number one source for all things i am dedicated to giving you the very best works with a focus on  three charecteristics i.e  dependability , custom and uniqueness></p>
            <button class="btn-style" >Read More</button>
          </div>
        </div>
      </div>
    </div>
  
  </div>