<div class="container-fluid mt-5 services-style" id="serviceid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <h1 class=" text-center main-heading"> our services</h1>
        <p class=" text-center text-capitalize sub-heading">grow your bisiness with us</p>
        <div class="row">
         <div class="col-md-4">
            <div class="box">
             <div class="our-services setting">
             <div class="icon">
               <img style="border-radius: 100px; margin-left: 140px; " src="image/react.jpg" alt="" height="100px" width="100px"> 
            </div> 
               <h4>ReactJs</h4>
               <p>React is a JavaScript library for building user interfaces.React is used to build single-page applications.React allows us to create reusable UI components.</p>
             
             </div>   
            </div> 
         </div>

         <div class="col-md-4">
            <div class="box">
             <div class="our-services setting">
             <div class="icon">
               <img style="border-radius: 100px; margin-left: 140px; " src="image/node.png" alt="" height="100px" width="100px"> 
            </div> 
               <h4>NodeJs</h4>
               <p>Node. js is a platform built on Chrome's JavaScript runtime for easily building fast and scalable network applications. Node. js uses an event-</p>
             
             </div>   
            </div> 
         </div>

         <div class="col-md-4">
            <div class="box">
             <div class="our-services setting">
             <div class="icon">
               <img style="border-radius: 100px; margin-left: 140px; " src="image/express.jfif" alt="" height="100px" width="100px"> 
            </div> 
               <h4>Express</h4>
               <p>Express is a minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
             
             </div>   
            </div> 
         </div>

         <div class="col-md-4">
            <div class="box">
             <div class="our-services setting">
             <div class="icon">
               <img style="border-radius: 100px; margin-left: 140px; " src="image/ser1.png" alt="" height="100px" width="100px"> 
            </div> 
               <h4>JavaScript</h4>
               <p>JavaScript is a lightweight, cross-platform, and interpreted compiled programming language which is also known as the scripting language for webpages</p>
             
             </div>   
            </div> 
         </div>

         <div class="col-md-4">
            <div class="box">
             <div class="our-services setting">
             <div class="icon">
               <img style="border-radius: 100px; margin-left: 140px; " src="image/mongo.jpg" alt="" height="100px" width="100px"> 
            </div> 
               <h4>MongoDB</h4>
               <p>Welcome to the MongoDB 5.0 Manual! MongoDB is a document database designed for ease of development and scaling. The manual describes key concepts in MongoDB ...</p>
             
             </div>   
            </div> 
         </div>
         <div class="col-md-4">
            <div class="box">
             <div class="our-services setting">
             <div class="icon">
               <img style="border-radius: 100px; margin-left: 140px; " src="image/c++.png.crdownload" alt="" height="100px" width="100px"> 
            </div> 
               <h4>c++</h4>
               <p>C++ is a cross-platform language that can be used to create high-performance applications. C++ was developed by Bjarne Stroustrup, as an extension to the C language.</p>
             
             </div>   
            </div> 
         </div>
         </div>
    </div>
  </div>
</div> 